.atribute {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
    background-color: var(--atribute-bg);
}

.atribute td {
    font-size: x-large;
}

.button-wrapper {
    background: none;
    border: none;
    height: fit-content;
    width: fit-content;
    grid-row: 1;
    grid-template-columns: 2;
}

.delete-button-column .delete-button {
    background-color: cornsilk;
}

.delete-button:hover {
    background-color: lightcoral;
}