.item {
    background-color: #39332C;
    display: flex;
    flex-direction: column;
}

.item-description-wrapper {
    max-width: 300px;
}

.item-name {
    grid-column: 1;
    grid-row: 1;
}

.item .button-wrapper {
    background: none;
    border: none;
    height: fit-content;
    width: fit-content;
    grid-row: 1;
    grid-template-columns: 2;
}

.delete-button{
    background-color: cornsilk;
}

.delete-button:hover{
    background-color: lightcoral;
}

.expand-button {
    background-color: greenyellow;
}

.expand-button:hover {
    background-color: green;
}


.hidden {
    visibility: hidden;
    width: 0;
    height: 0;
}