.page-wrapper {
    display: flex;
}

.page-wrapper .back-button-wrapper {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.page-wrapper .character-info {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: larger;
}

.page-wrapper .character-info .about {
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page-wrapper .character-info .about .name-display {
    font-size: x-large;
}

.page-wrapper .character-info .about .description-display {
    font-size: x-large;
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
    text-justify: inter-word;
}

.page-wrapper .character-info .edit-button-wrapper {
    display: flex;
    flex-direction: row;
    border: none;
    background: none;
    color: white;
}

.page-wrapper .character-info .character-image img {
    border-radius: 100%;
    width: 120px;
    height: 120px;
    padding-left: 10px;
    padding-top: 10px;
}

.page-wrapper .character-atributes .atributes-table-wrapper {
    max-height: 500px;
    overflow: scroll;
    padding-bottom: 20px;
}

.page-wrapper .character-atributes .add-atribute form {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.page-wrapper .character-atributes .add-atribute form input {
    height: 40px;
}

.page-wrapper div div form button {
    height: 30px;
}

.page-wrapper .character-inventory .item-list {
    max-height: 300px;
    overflow: scroll;
    margin-bottom: 20px;
}

.page-wrapper .character-inventory .add-item form {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.page-wrapper .character-inventory .add-item form input {
    height: 40px;
}