.page-wrapper {
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}



@media all and (max-width: 300px) {
    .page-wrapper {
        flex-direction: column;
    }
    .about{
        display: flex;
        flex-direction: row;
    }
}

.about .title {
    font-size: 50;
}

.link-wrapper {
    background-color: var(--button-color);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 200px;
    height: 70px;
}

.link-wrapper:hover {
    cursor: pointer;
    background-color: var(--button-color-hover);
}

.link-wrapper .link {
    text-decoration: none;
}

.link-wrapper .link .link-text {
    color: #FFFFFF;
    font-size: larger;
    width: 100%;
    height: 100%;
}