
.character-selection {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 16px;
}

@media all and (max-width: 500px) {
    .character-selection {
        flex-direction: column-reverse;
    }
}
.add-icon {
    margin-top: 5px;
}